$color-blue: #8fb1f4;
$color-blue-primary: #4e88fa;
$color-light-blue: #eaf1ff;
$color-light-blue-green: #DCFFEB;
$color-white: #fff;
$color-dark: #333;
$color-blue-gray: #6d7885;

$shadow-light-blue: 0px 0px 20px rgba(78, 136, 250, 0.15);
