<template>
  <div class="customer-sevice-select-card-container">
    <div class="icon">
      <slot name="icon"></slot>
    </div>
    <h2>{{ cardText }}</h2>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class CustomerServiceSelectCard extends Vue {
  @Prop() private iconPath!: string;
  @Prop() private cardText!: string;
}
</script>

<style lang="scss">
@import "../../assets/scss/colors.scss";

.customer-sevice-select-card-container {
  display: flex;
  align-items: center;
  box-shadow: $shadow-light-blue;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  height: 5.5rem;
  border-radius: 8px;
  cursor: pointer;

  .icon {
    width: 56px;
    height: 56px;
    background-color: $color-light-blue;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: bold;
    color: $color-dark;
    display: flex;
    align-items: center;
  }
}
</style>
