<template>
  <div class="get-diagnostic-card">
    <slot name="icon"> </slot>
    <h2>{{ cardMessage }}</h2>
    <div class="buttons">
      <b-button type="is-success" expanded @click="onButtonClick">{{
        actionButtonText
      }}</b-button>
    </div>
    <slot name="additionalButton"></slot>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

import WorkerIcon from "@/components/icons/Worker.vue";

@Component({
  components: {
    WorkerIcon
  }
})
export default class GetDiagnosticCard extends Vue {
  @Prop() cardMessage!: string;
  @Prop() actionButtonText!: string;
  @Prop() onButtonClick!: () => void;
}
</script>

<style lang="scss" scoped>
@import "../../assets/scss/_colors.scss";

.get-diagnostic-card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 260px;
  width: 90%;
  margin: auto;
  padding: 20px;

  h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 5px auto 25px auto;
    width: 80%;
  }

  .buttons {
    width: 100%;
    .button:not(.is-danger) {
      background-color: $color-blue-primary;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
</style>
