<template>
  <div class="welcome-component-container">
    <div class="icon-container">
      <slot name="welcomeImg"></slot>
    </div>
    <div class="swiper-custom-pagination">
      <div class="bullet" :class="{ 'bullet-active': activeBullet == 1 }"></div>
      <div class="bullet" :class="{ 'bullet-active': activeBullet == 2 }"></div>
      <div class="bullet" :class="{ 'bullet-active': activeBullet == 3 }"></div>
    </div>
    <div class="welcome-message-container">
      <h1>{{ headerMessage }}</h1>
      <p>{{ bodyMessage }}</p>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <div class="buttons">
          <b-button type="is-primary" expanded @click="buttonClick">{{
            buttonText
          }}</b-button>
        </div>
      </div>
    </footer>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class Welcome extends Vue {
  @Prop() private headerMessage!: string;
  @Prop() private bodyMessage!: string;
  @Prop() private activeBullet!: number;
  @Prop() private buttonText!: string;
  @Prop() private buttonClick!: () => void;
}
</script>

<style lang="scss" scoped>
@import "../../assets/scss/colors.scss";

.welcome-component-container {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    $color-light-blue-green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;

  .icon-container {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    svg {
      margin-bottom: 40px;
    }
  }

  .swiper-custom-pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    .bullet {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid $color-blue-primary;

      margin: 0 12px;
    }

    .bullet-active {
      background-color: $color-blue-primary;
    }
  }

  .welcome-message-container {
    width: 90%;
    margin: 20px auto;
    flex: 1;

    h1 {
      font-size: 22px;
      font-weight: bold;
      color: $color-dark;
      text-align: center;
      width: 90%;
      margin: auto;
      padding-bottom: 10px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: $color-dark;
      text-align: center;
    }
  }

  footer {
    background-color: unset;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .buttons {
      .button {
        background-color: unset;
        border: 1px solid $color-blue-primary;
        border-radius: 10px;
        color: $color-blue-primary;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
</style>
