<template>
  <div class="start-view-container">
    <MechanicLogo />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

import MechanicLogo from "@/components/icons/MechanicLogo.vue";

import * as userService from "@/services/userService";

@Component({
  components: {
    MechanicLogo
  }
})
export default class StartView extends Vue {
  mounted() {
    const wasStartScreenDisplayed = userService.wasStartScreentDisplayed();
    console.log(wasStartScreenDisplayed);
    setTimeout(() => {
      if (wasStartScreenDisplayed) this.$router.push("/service-select");
      else this.$router.push("/welcome");
    }, 1500);
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/colors.scss";

.start-view-container {
  height: 100vh;
  background: linear-gradient(180deg, #8fb1f4 0%, #4e88fa 100%),
    $color-blue-primary;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
