<template>
  <div class="welcome-view-container">
    <swiper class="swiper" :options="swiperOption">
      <div class="swiper-slide">
        <WelcomeComponent
          :headerMessage="'Having issues with your car?'"
          :bodyMessage="
            'Don’t worry, we will help you take to take care of them. Just pick a time that’s good for you and our mechanic will drive to you.'
          "
          :activeBullet="1"
          :buttonText="'SKIP'"
          :buttonClick="welcomeOnClick"
        >
          <template v-slot:welcomeImg>
            <WelcomeImg1 />
          </template>
        </WelcomeComponent>
      </div>
      <div class="swiper-slide">
        <WelcomeComponent
          :headerMessage="'Are you a mechanic?'"
          :bodyMessage="
            'Our app will help you find clients, just pick a mark on the map and assist them with maintenance.'
          "
          :activeBullet="2"
          :buttonText="'SKIP'"
          :buttonClick="welcomeOnClick"
        >
          <template v-slot:welcomeImg>
            <WelcomeImg2 />
          </template>
        </WelcomeComponent>
      </div>
      <div class="swiper-slide">
        <WelcomeComponent
          :headerMessage="'Why choose our services?'"
          :bodyMessage="
            'We make car maintenance a fast and easy process. Contact us and we will solve your issue!'
          "
          :activeBullet="3"
          :buttonText="'OK'"
          :buttonClick="welcomeOnClick"
        >
          <template v-slot:welcomeImg>
            <WelcomeImg3 />
          </template>
        </WelcomeComponent>
      </div>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import WelcomeComponent from "@/components/Welcome/Welcome.vue";
import WelcomeImg1 from "@/components/icons/Welcome1.vue";
import WelcomeImg2 from "@/components/icons/Welcome2.vue";
import WelcomeImg3 from "@/components/icons/Welcome3.vue";

import { setWasStartScreenDisplayed } from "@/services/userService";

@Component({
  components: {
    WelcomeComponent,
    WelcomeImg1,
    WelcomeImg2,
    WelcomeImg3
  }
})
export default class Welcome extends Vue {
  swiperOption = {};

  welcomeOnClick() {
    this.$router.push("/service-select");
  }

  mounted() {
    setWasStartScreenDisplayed();
  }
}
</script>

<style lang="scss" scoped></style>
