<template>
  <div class="template-container">
    <div class="template-container-inner">
      <!-- <div class="icon-panel">
        <i class="far fa-lg fa-bell"></i>
        <i class="fas fa-lg fa-bars"></i>
      </div> -->
      <h1 class="noselect">{{ titleText }}</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Navbar extends Vue {
  @Prop() private titleText!: string;
}
</script>

<style scoped lang="scss">
@import "../../assets/scss/colors.scss";

.template-container {
  background-color: $color-blue;
  border-radius: 0 0 20px 20px;
  color: $color-white;

  .template-container-inner {
    width: 90%;
    margin: auto;

    .icon-panel {
      padding: 2rem 0 0 0;
      display: flex;
      justify-content: flex-end;

      i {
        padding: 0 1rem;
        font-size: 1.5rem;
      }
    }

    h1 {
      font-size: 22px;
      padding: 1rem 0;
      font-weight: bold;
    }
  }
}
</style>
