<template>
  <div>
    <Navbar :title-text="'Find a Mechanic'" />
    <div class="customer-mechanic-call-container">
      <h1>What time works for you?</h1>
      <form>
        <div class="columns">
          <div class="column">
            <section class="form-group">
              <b-field
                label="Name"
                :type="{
                  'is-danger': isNameTouched && !isNameValid,
                  'is-success': isNameTouched && isNameValid
                }"
                :message="
                  isNameTouched && !isNameValid
                    ? 'This name is invalid'
                    : isNameTouched && isNameValid
                    ? 'Correct'
                    : ''
                "
              >
                <b-input
                  :placeholder="'John Doe'"
                  v-model="name"
                  @input="onNameChange($event)"
                  @blur="isNameTouched = true"
                ></b-input>
              </b-field>
            </section>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <section class="form-group">
              <b-field
                label="Phone"
                :type="{
                  'is-danger': isPhoneTouched && !isPhoneValid,
                  'is-success': isPhoneTouched && isPhoneValid
                }"
                :message="
                  isPhoneTouched && !isPhoneValid
                    ? 'This phone is invalid'
                    : isPhoneTouched && isPhoneValid
                    ? 'Correct'
                    : ''
                "
              >
                <input
                  type="tel"
                  class="input"
                  :class="{
                    'is-danger': isPhoneTouched && !isPhoneValid,
                    'is-success': isPhoneTouched && isPhoneValid
                  }"
                  v-mask="'+1 (###) ###-####'"
                  v-model="phone"
                  @input="onPhoneChange($event.target.value)"
                  @blur="isPhoneTouched = true"
                  :placeholder="'+1 (555) 903-6130'"
                />
              </b-field>
            </section>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column is-one-third">
            <section class="form-group">
              <b-field
                label="Date"
                :type="{
                  'is-danger': isDateTouched && !isDateValid,
                  'is-success': isDateTouched && isDateValid
                }"
                :message="
                  isDateTouched && !isDateValid
                    ? 'This date is invalid'
                    : isDateTouched && isDateValid
                    ? 'Correct'
                    : ''
                "
              >
                <b-datepicker
                  :mobile-native="false"
                  v-model="date"
                  @input="onDateChange($event)"
                  @blur="isDateTouched = true"
                  :show-week-number="showWeekNumber"
                  :locale="locale"
                  :placeholder="dateFormatter(new Date())"
                  :date-formatter="dateFormatter"
                  trap-focus
                >
                </b-datepicker>
              </b-field>
            </section>
          </div>
          <div class="column is-two-third">
            <section class="form-group">
              <b-field
                label="Time"
                :type="{
                  'is-danger':
                    isTimePeriodStartTouched &&
                    isTimePeriodEndTouched &&
                    !isTimePeriodValid,
                  'is-success':
                    isTimePeriodStartTouched &&
                    isTimePeriodEndTouched &&
                    isTimePeriodValid
                }"
                :message="
                  isTimePeriodStartTouched &&
                  isTimePeriodEndTouched &&
                  !isTimePeriodValid
                    ? 'Time range is invalid'
                    : isTimePeriodStartTouched &&
                      isTimePeriodEndTouched &&
                      isTimePeriodValid
                    ? 'Correct'
                    : ''
                "
              >
                <b-timepicker
                  placeholder="4:00 PM"
                  :mobile-native="false"
                  :hour-format="hourFormat"
                  :locale="locale"
                  v-model="timePeriodStart"
                  @input="onTimePeriodStartChange($event)"
                >
                </b-timepicker>
                <b-icon pack="fas" icon="minus"> </b-icon>
                <b-timepicker
                  placeholder="6:00 PM"
                  :mobile-native="false"
                  :hour-format="hourFormat"
                  :locale="locale"
                  v-model="timePeriodEnd"
                  @input="onTimePeriodEndChange($event)"
                >
                </b-timepicker>
              </b-field>
            </section>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <section class="form-group">
              <b-field
                label="Address"
                :type="{
                  'is-danger': isAddressTouched && !isAddressValid,
                  'is-success': isAddressTouched && isAddressValid
                }"
                :message="
                  isAddressTouched && !isAddressValid
                    ? 'This address is invalid'
                    : isAddressTouched && isAddressValid
                    ? 'Correct'
                    : ''
                "
              >
                <b-input
                  type="textarea"
                  v-model="address"
                  @input="onAddressChange($event)"
                  @blur="isAddressTouched = true"
                  :placeholder="'1122 Abbey Road'"
                ></b-input>
              </b-field>
            </section>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <section class="form-group">
              <b-field
                label="Make and Model"
                :type="{
                  'is-danger': isCarBrandTouched && !isCarBrandValid,
                  'is-success': isCarBrandTouched && isCarBrandValid
                }"
                :message="
                  isCarBrandTouched && !isCarBrandValid
                    ? 'This car brand is invalid'
                    : isCarBrandTouched && isCarBrandValid
                    ? 'Correct'
                    : ''
                "
              >
                <b-input
                  v-model="carBrand"
                  @input="onCarBrandChange($event)"
                  @blur="isCarBrandTouched = true"
                  :placeholder="'KIA Rio'"
                ></b-input>
              </b-field>
            </section>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column is-half">
            <section class="form-group">
              <b-field
                label="Year"
                :type="{
                  'is-danger':
                    isCarReleaseYearTouched && !isCarReleaseYearValid,
                  'is-success': isCarReleaseYearTouched && isCarReleaseYearValid
                }"
                :message="
                  isCarReleaseYearTouched && !isCarReleaseYearValid
                    ? 'This car release year is invalid'
                    : isCarReleaseYearTouched && isCarReleaseYearValid
                    ? 'Correct'
                    : ''
                "
              >
                <b-input
                  v-model.number="carReleaseYear"
                  type="number"
                  @input="onCarReleaseYearChange($event)"
                  @blur="isCarReleaseYearTouched = true"
                  :placeholder="2017"
                ></b-input>
              </b-field>
            </section>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <section class="form-group">
              <b-field
                label="Describe your issue"
                :type="{
                  'is-danger': isProblemTouched && !isProblemValid,
                  'is-success': isProblemTouched && isProblemValid
                }"
                :message="
                  isProblemTouched && !isProblemValid
                    ? 'This problem description is invalid'
                    : isProblemTouched && isProblemValid
                    ? 'Correct'
                    : ''
                "
              >
                <b-input
                  type="textarea"
                  v-model="problem"
                  @input="onProblemChange($event)"
                  @blur="isProblemTouched = true"
                  :placeholder="'Something broke, I hear knocking'"
                ></b-input>
              </b-field>
            </section>
          </div>
        </div>
      </form>
      <footer class="footer">
        <div class="content">
          <div class="buttons">
            <b-button type="is-primary" expanded @click="showGetDiagnostic"
              >GET HELP</b-button
            >
          </div>
        </div>
      </footer>
    </div>
    <b-modal v-model="showSuccessModal">
      <Card
        :cardMessage="
          'Your request has been sent successfuly. Our mechanics will call you as soon as possible!'
        "
        :actionButtonText="'OK'"
        :onButtonClick="closeModal"
      />
    </b-modal>
    <b-modal v-model="getDiagnostics">
      <Card
        :cardMessage="'Would you like to get diagnostics for only 99 $?'"
        :actionButtonText="'YES'"
        :onButtonClick="onDiagnosticClickYes"
      >
        <template v-slot:icon>
          <WorkerIcon />
        </template>
        <template v-slot:additionalButton>
          <div class="buttons">
            <b-button
              type="is-danger is-light"
              expanded
              @click="onDiagnosticClickNo"
              >NO</b-button
            >
          </div>
        </template>
      </Card>
      <b-loading
        :is-full-page="false"
        v-model="loading"
        :can-cancel="true"
      ></b-loading>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import moment from "moment";
import { mask } from "vue-the-mask";

import Navbar from "@/components/Navbar/Navbar.vue";
import Card from "@/components/GetDiagnostic/GetDiagnostic.vue";
import WorkerIcon from "@/components/icons/Worker.vue";

import { BACKEND_URL } from "@/constants";

@Component({
  components: {
    Navbar,
    Card,
    WorkerIcon
  },
  directives: {
    mask
  }
})
export default class MechanicCall extends Vue {
  selected = new Date();
  showWeekNumber = false;
  hourFormat = "12";
  locale = "en-US";

  dateFormatter(date: Date) {
    return moment(date).format("MM/DD");
  }

  private getDiagnostics = false;
  showSuccessModal = false;
  loading = false;

  showGetDiagnostic() {
    console.log(this.timePeriodStart);
    console.log(this.timePeriodEnd);
    if (this.isFormValid()) {
      this.getDiagnostics = true;
    }
  }

  onDiagnosticClickYes() {
    this.$store.commit("SET_NEED_DIAGNOSTIC", true);
    this.sendRequest();
  }

  onDiagnosticClickNo() {
    this.$store.commit("SET_NEED_DIAGNOSTIC", false);
    this.sendRequest();
  }

  closeModal() {
    this.showSuccessModal = false;
  }
  closeDiagnostic() {
    this.getDiagnostics = false;
  }

  resetForm() {
    this.name = "";
    this.isNameTouched = false;
    this.phone = "";
    this.isPhoneTouched = false;
    this.date = null;
    this.isDateTouched = false;
    this.timePeriodStart = null;
    this.isTimePeriodStartTouched = false;
    this.timePeriodEnd = null;
    this.isTimePeriodEndTouched = false;
    this.address = "";
    this.isAddressTouched = false;
    this.carBrand = "";
    this.isCarBrandTouched = false;
    this.carReleaseYear = null;
    this.isCarReleaseYearTouched = false;
    this.problem = "";
    this.isProblemTouched = false;
  }

  get needDiagnostic() {
    return this.$store.getters.needDiagnostic;
  }

  name = "";
  isNameValid = false;
  isNameTouched = false;
  onNameChange(value: string) {
    this.name = value;
    if (value == "") {
      this.isNameValid = false;
    } else {
      this.isNameValid = true;
    }
  }

  phone = "";
  isPhoneValid = false;
  isPhoneTouched = false;
  onPhoneChange(value: string) {
    this.phone = value;
    if (value.length != 17) {
      this.isPhoneValid = false;
    } else {
      this.isPhoneValid = true;
    }
  }

  date: Date | null = null;
  isDateValid = false;
  isDateTouched = false;
  onDateChange(value: string) {
    const date = new Date(value);
    const current = new Date();
    current.setHours(0);
    current.setMinutes(0);
    current.setSeconds(0);
    current.setMilliseconds(0);
    if (moment(date).isBefore(current)) {
      this.isDateValid = false;
    } else {
      this.isDateValid = true;
    }
    this.date = date;
  }

  isTimePeriodValid = false;
  timePeriodStart: Date | null = null;
  isTimePeriodStartTouched = false;
  onTimePeriodStartChange(value: string) {
    const timePeriodStart = new Date(value);
    this.timePeriodStart = timePeriodStart;
    if (!this.timePeriodEnd) {
      this.isTimePeriodValid = false;
    } else if (this.timePeriodStart > this.timePeriodEnd) {
      this.isTimePeriodValid = false;
    } else {
      this.isTimePeriodValid = true;
    }
  }
  timePeriodEnd: Date | null = null;
  isTimePeriodEndTouched = false;
  onTimePeriodEndChange(value: string) {
    const timePeriodEnd = new Date(value);
    this.timePeriodEnd = timePeriodEnd;
    if (!this.timePeriodStart) {
      this.isTimePeriodValid = false;
    } else if (this.timePeriodStart > this.timePeriodEnd) {
      this.isTimePeriodValid = false;
    } else {
      this.isTimePeriodValid = true;
    }
  }

  address = "";
  isAddressValid = false;
  isAddressTouched = false;
  onAddressChange(value: string) {
    this.address = value;
    if (this.address == "") {
      this.isAddressValid = false;
    } else {
      this.isAddressValid = true;
    }
  }

  carBrand = "";
  isCarBrandValid = false;
  isCarBrandTouched = false;
  onCarBrandChange(value: string) {
    this.carBrand = value;
    if (this.carBrand == "") {
      this.isCarBrandValid = false;
    } else {
      this.isCarBrandValid = true;
    }
  }

  carReleaseYear: number | null = null;
  isCarReleaseYearValid = false;
  isCarReleaseYearTouched = false;
  onCarReleaseYearChange(value: number) {
    this.carReleaseYear = value;
    if (
      this.carReleaseYear < 1920 ||
      this.carReleaseYear > new Date().getFullYear()
    ) {
      this.isCarReleaseYearValid = false;
    } else {
      this.isCarReleaseYearValid = true;
    }
  }

  problem = "";
  isProblemValid = false;
  isProblemTouched = false;
  onProblemChange(value: string) {
    this.problem = value;
    if (this.problem == "") {
      this.isProblemValid = false;
    } else {
      this.isProblemValid = true;
    }
  }

  isFormValid() {
    const isValid =
      this.isNameValid &&
      this.isPhoneValid &&
      this.isDateValid &&
      this.isTimePeriodValid &&
      this.isAddressValid &&
      this.isCarBrandValid &&
      this.isCarReleaseYearValid &&
      this.isProblemValid;
    if (!isValid) {
      this.setAllInputsTouched();
    }
    return isValid;
  }

  setAllInputsTouched() {
    this.isNameTouched = true;
    this.isPhoneTouched = true;
    this.isDateTouched = true;
    this.isTimePeriodStartTouched = true;
    this.isTimePeriodEndTouched = true;
    this.isAddressTouched = true;
    this.isCarBrandTouched = true;
    this.isCarReleaseYearTouched = true;
    this.isProblemTouched = true;
  }

  sendRequest() {
    this.loading = true;
    const arrivalMechnicDate = this.date;
    arrivalMechnicDate!.setHours( // eslint-disable-line
      (this.timePeriodStart!.getHours() + this.timePeriodEnd!.getHours()) / 2  // eslint-disable-line
    );
    arrivalMechnicDate!.setMinutes( // eslint-disable-line
      (this.timePeriodStart!.getMinutes() + this.timePeriodEnd!.getMinutes()) / // eslint-disable-line
        2
    );
    arrivalMechnicDate!.setSeconds( // eslint-disable-line
      (this.timePeriodStart!.getSeconds() + this.timePeriodEnd!.getSeconds()) / // eslint-disable-line
        2
    );
    console.log(arrivalMechnicDate);
    console.log(Math.floor(arrivalMechnicDate!.getTime() / 1000)); // eslint-disable-line
    fetch(`${BACKEND_URL}/request/create`, {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        clientName: this.name,
        clientPhone: this.phone,
        needDiagnostic: this.needDiagnostic,
        arrivalMechanicDateTime: Math.floor(
          arrivalMechnicDate!.getTime() / 1000 // eslint-disable-line
        ),
        machine: this.carBrand,
        address: this.address,
        machineYear: this.carReleaseYear,
        problemDescription: this.problem
      })
    }).then(response => {
      if (response.ok) {
        this.loading = false;
        this.closeDiagnostic();
        this.showSuccessModal = true;
        this.resetForm();
      }
    });
  }

  mounted() {
    const select = document.querySelectorAll(".timepicker select");
    const [, startTimeSelect2, , endTimeSelect2] = select;
    startTimeSelect2.addEventListener("blur", () => {
      this.isTimePeriodStartTouched = true;
    });
    endTimeSelect2.addEventListener(
      "blur",
      () => (this.isTimePeriodEndTouched = true)
    );
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/_colors.scss";

.customer-mechanic-call-container {
  form {
    span.has-text-danger,
    span.has-text-success {
      display: none;
    }

    .control.has-icons-right .input,
    .control.has-icons-right .select select {
      padding-right: 11px;
      padding-left: 11px;
    }

    .form-group {
      .field.has-addons {
        align-items: center;

        span.icon {
          margin: 0 10px;
        }
      }

      label.label {
        font-size: 14px;
        font-weight: 400;
        color: $color-blue-gray;
      }

      .datepicker .dropdown .input[readonly],
      .datepicker .dropdown-trigger .control,
      .timepicker .dropdown {
        .input[readonly] {
          background-color: $color-light-blue;
          font-size: 16px;
          font-weight: bold;
          color: $color-dark;
          text-align: center;
          border-radius: 10px !important;
        }

        span.icon {
          color: $color-dark;
        }
      }

      textarea.textarea,
      input.input {
        background-color: $color-light-blue;
        border-radius: 10px !important;
      }

      textarea.textarea {
        min-height: 72px;
      }
    }
  }
}
.loading-overlay .loading-background {
  width: 90%;
  margin: auto;
}
</style>

<style lang="scss" scoped>
@import "@/assets/scss/_colors.scss";

.customer-mechanic-call-container {
  width: 90%;
  margin: auto;
  padding: 30px 0;

  h1 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: $color-dark;
  }

  form {
    padding: 30px 0;

    .column {
      padding-bottom: 0;
    }
  }

  footer.footer {
    padding-left: 0;
    padding-right: 0;
    background: unset;

    .button {
      background-color: $color-blue-primary;
      font-weight: bold;
    }
  }
}
</style>
