<template>
  <div>
    <Navbar :title-text="'What Happened?'" />
    <div class="customer-service-select-container">
      <div class="info">
        <h1>Issues with your car?</h1>
        <p>
          Our mechanic will take care or diagnose the issue with your car.
        </p>
      </div>
      <CustomerServiceSelectCard
        :card-text="'Don’t know what happened, need diagnostics.'"
        :iconPath="'/icons/question-person.png'"
        @click.native="onDiagnosticClick"
      >
        <template v-slot:icon>
          <svg
            width="34"
            height="45"
            viewBox="0 0 34 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M31.1519 2.22863C32.6818 3.69148 33.5244 5.67086 33.5244 7.8022C33.5244 10.022 32.5778 11.9642 31.4307 13.7179C32.8019 16.0138 33.5243 18.6204 33.5243 21.292C33.5243 24.0406 32.756 26.7329 31.3024 29.0777C30.527 30.3285 29.9228 31.4812 29.455 32.602C29.3142 32.9394 28.9876 33.1427 28.6435 33.1427C28.5308 33.1427 28.4161 33.1208 28.3054 33.0747C27.8574 32.8878 27.6459 32.3731 27.8328 31.9251C28.337 30.717 28.9832 29.4827 29.8083 28.1516C31.0894 26.0851 31.7665 23.7132 31.7665 21.2921C31.7665 19.2071 31.2655 17.167 30.3109 15.3215C30.1904 15.4866 30.0702 15.6502 29.9511 15.8122L29.9396 15.8278L29.8496 15.9504C28.7477 17.4501 28.1408 18.2762 28.1408 20.2149C28.1408 21.6687 26.958 22.8516 25.5041 22.8516C24.0502 22.8516 22.8674 21.6687 22.8674 20.2149C22.8674 16.5607 24.0153 14.9983 25.6041 12.836L25.6041 12.8359C25.6803 12.7322 25.7595 12.6252 25.8411 12.5151L25.8596 12.4901C26.1753 12.0641 26.5274 11.5888 26.8623 11.092C25.5683 10.0417 24.0857 9.23815 22.5056 8.72935C22.3894 10.0766 21.2563 11.1377 19.8795 11.1377C18.4256 11.1377 17.2427 9.95489 17.2427 8.50101C17.2427 8.37911 17.2456 8.25799 17.2504 8.1375C10.4394 8.72329 5.04296 14.4422 5.04296 21.292C5.04296 22.9639 3.68181 25.2114 2.53994 26.8025C1.96434 27.6045 1.75525 28.3003 1.96628 28.7116C2.26423 29.2921 3.41849 29.6386 5.05395 29.6386C5.53937 29.6386 5.93285 30.0321 5.93285 30.5175V32.2754C6.82863 32.2754 7.86363 32.6107 9.00901 33.2721C9.42939 33.5149 9.57344 34.0524 9.33069 34.4728C9.16792 34.7546 8.87252 34.9123 8.56877 34.9123C8.41962 34.9123 8.26854 34.8742 8.13011 34.7944C7.26773 34.2964 6.50792 34.0331 5.93285 34.0331V35.2108C5.93285 36.8426 7.27942 38.17 8.93457 38.17C11.4938 38.17 13.1239 38.2359 14.1795 39.1481C15.1445 39.9821 15.4029 41.3297 15.556 43.2421H26.4064C26.3336 41.9548 26.3034 40.927 26.3097 39.9913C26.313 39.5079 26.7059 39.1183 27.1885 39.1183H27.1945C27.6799 39.1215 28.0707 39.5178 28.0675 40.0031C28.06 41.1113 28.1063 42.3636 28.2177 44.0636C28.2336 44.3062 28.1483 44.5446 27.9821 44.7219C27.816 44.8993 27.5838 45 27.3407 45H14.7377C14.2745 45 13.8909 44.6407 13.8606 44.1786C13.7232 42.0816 13.5571 40.9335 13.0301 40.4781C12.4919 40.013 11.2286 39.9279 8.93448 39.9279C6.31008 39.9279 4.17496 37.8119 4.17496 35.2109V31.3654C1.77652 31.1881 0.797865 30.2848 0.402359 29.5142C0.0272435 28.7832 -0.15425 27.5415 1.11181 25.7775C2.4727 23.8813 3.28516 22.2044 3.28516 21.2919C3.28516 17.3542 4.83282 13.6304 7.64293 10.8065C10.2945 8.14198 13.773 6.57692 17.4975 6.3571C18.3987 2.66061 21.5938 0 25.5043 0C27.6431 0 29.6488 0.791452 31.1519 2.22863ZM25.5043 5.27342C24.2889 5.27342 23.3082 5.94279 22.8312 6.98824C24.6137 7.53316 26.2914 8.40899 27.7635 9.56158C28.0579 8.95013 28.251 8.34782 28.251 7.8022C28.251 6.33698 27.0958 5.27342 25.5043 5.27342ZM28.433 14.9096L28.433 14.9096L28.5235 14.7865L28.5236 14.7863C30.118 12.6173 31.7666 10.3745 31.7666 7.80211C31.7666 4.41271 29.0159 1.75772 25.5043 1.75772C21.8573 1.75772 19.0006 4.71971 19.0006 8.50092C19.0006 8.98555 19.3948 9.37983 19.8795 9.37983C20.3641 9.37983 20.7584 8.98555 20.7584 8.50092C20.7584 5.65882 22.7986 3.51561 25.5043 3.51561C28.0722 3.51561 30.0088 5.35841 30.0088 7.8022C30.0088 9.84257 28.427 11.9776 27.2721 13.5365C27.1854 13.6534 27.1013 13.767 27.0207 13.8766L27.0207 13.8767C25.4761 15.9789 24.6253 17.137 24.6253 20.2148C24.6253 20.6994 25.0195 21.0937 25.5042 21.0937C25.9888 21.0937 26.3831 20.6994 26.3831 20.2148C26.3831 17.6997 27.2429 16.5294 28.433 14.9096ZM7.03238 23.304C7.03238 22.8186 7.4256 22.4251 7.91102 22.4251H7.91164C8.39706 22.4251 8.79054 22.8186 8.79054 23.304C8.79054 23.7894 8.39706 24.1829 7.91164 24.1829C7.42622 24.1829 7.03238 23.7894 7.03238 23.304ZM28.141 26.3671C28.141 24.9132 26.9581 23.7304 25.5042 23.7304C24.0504 23.7304 22.8675 24.9132 22.8675 26.3671C22.8675 27.821 24.0504 29.0038 25.5042 29.0038C26.9581 29.0038 28.141 27.821 28.141 26.3671ZM25.5042 27.246C25.0196 27.246 24.6253 26.8517 24.6253 26.3671C24.6253 25.8825 25.0196 25.4882 25.5042 25.4882C25.9889 25.4882 26.3832 25.8825 26.3832 26.3671C26.3832 26.8517 25.9889 27.246 25.5042 27.246ZM28.3986 36.056C28.3986 36.5415 28.0051 36.935 27.5197 36.935C27.0342 36.935 26.6405 36.5415 26.6405 36.056C26.6405 35.5706 27.0336 35.1771 27.519 35.1771H27.5197C28.0051 35.1771 28.3986 35.5706 28.3986 36.056Z"
              fill="#4E88FA"
            />
          </svg>
        </template>
      </CustomerServiceSelectCard>
      <CustomerServiceSelectCard
        :card-text="'I know what the issue is, I need maintenance.'"
        :iconPath="'/icons/mechanic-sign.png'"
        @click.native="onCommonClick"
      >
        <template v-slot:icon>
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M39.3897 16.8158L36.0997 16.0785C35.7011 14.3834 35.0377 12.7775 34.1224 11.2917L35.6637 8.72302C35.8481 8.4156 35.7997 8.02208 35.5462 7.76864L32.2314 4.45378C31.9778 4.20034 31.5843 4.15198 31.2769 4.33635L28.7082 5.87769C27.2224 4.96237 25.6165 4.29893 23.9214 3.90034L23.1841 0.610394C23.1042 0.253595 22.7875 0 22.4218 0H17.7342C17.3686 0 17.0521 0.253517 16.9719 0.610238L16.2261 3.93409C14.5447 4.34206 12.9595 5.00503 11.5016 5.91027L8.87912 4.33643C8.57185 4.15198 8.17825 4.20026 7.92466 4.45385L4.60979 7.76872C4.35628 8.02223 4.30792 8.41575 4.49237 8.72318L6.09175 11.3879C5.20917 12.841 4.56682 14.4033 4.17698 16.0447L0.61641 16.8146C0.256798 16.8923 0.000234376 17.2103 0.000234376 17.5781V22.2657C0.000234376 22.6334 0.25672 22.9514 0.616176 23.0292L4.21143 23.8077C4.608 25.426 5.24276 26.9572 6.10293 28.3735L1.14493 33.3319C0.406565 34.0696 0 35.0504 0 36.0937C0 37.137 0.406565 38.118 1.1443 38.8551C1.88165 39.5934 2.86252 40 3.90643 40C4.95034 40 5.93128 39.5934 6.66824 38.8556L11.6269 33.8973C13.0444 34.7577 14.5755 35.3925 16.1926 35.7889L16.9711 39.3841C17.0489 39.7435 17.3669 40 17.7346 40H22.4222C22.7901 40 23.108 39.7434 23.1858 39.3838L23.9557 35.8226C25.5977 35.4322 27.1598 34.7902 28.6124 33.9086L31.2772 35.5074C31.5846 35.6918 31.9781 35.6433 32.2316 35.3899L35.5465 32.075C35.7999 31.8215 35.8483 31.4281 35.664 31.1207L34.09 28.4975C34.9951 27.0402 35.6582 25.4552 36.0662 23.7737L39.3901 23.0278C39.7467 22.9478 40.0003 22.6311 40.0003 22.2655V17.578C40.0001 17.2125 39.7465 16.8958 39.3897 16.8158ZM5.56316 37.751C5.12105 38.1937 4.53268 38.4375 3.90651 38.4375C3.28033 38.4375 2.69197 38.1937 2.24931 37.7505C1.80642 37.3079 1.56251 36.7195 1.56251 36.0937C1.56251 35.4679 1.80642 34.8796 2.24954 34.4368L13.4206 23.265C13.6399 23.0457 13.7088 22.7176 13.596 22.4286C12.5787 19.8204 13.1934 16.8631 15.162 14.8945C16.4999 13.5566 18.2942 12.8442 20.1254 12.8442C20.5826 12.8442 21.0423 12.8887 21.4975 12.9789L18.4768 15.999C18.3302 16.1455 18.2478 16.3442 18.2478 16.5515V20.9711C18.2478 21.4025 18.5977 21.7523 19.0291 21.7523H23.4486C23.6558 21.7523 23.8544 21.67 24.001 21.5235L27.0213 18.5032C27.4727 20.7818 26.7773 23.1664 25.1055 24.8382C23.1371 26.8069 20.1797 27.4215 17.5716 26.4042C17.2828 26.2916 16.9546 26.3604 16.7353 26.5796L5.56316 37.751ZM28.1273 16.7365C28.0314 16.4907 27.818 16.3099 27.5598 16.2558C27.3013 16.2016 27.0334 16.2814 26.847 16.468L23.125 20.19H19.8104V16.8753L23.5326 13.1529C23.719 12.9663 23.7987 12.6983 23.7444 12.4402C23.6903 12.1821 23.5094 11.9687 23.2638 11.873C20.0782 10.6304 16.4642 11.3828 14.0572 13.7898C11.7722 16.0749 10.9783 19.4475 11.9668 22.5091L10.0933 24.3827C9.4681 22.9854 9.14083 21.4622 9.14083 19.9218C9.14083 13.8909 14.0474 8.98435 20.0783 8.98435C26.1092 8.98435 31.0158 13.8909 31.0158 19.9218C31.0158 25.9527 26.1092 30.8593 20.0783 30.8593C18.5371 30.8593 17.0137 30.5321 15.6174 29.907L17.4912 28.0334C20.5528 29.022 23.9255 28.228 26.2104 25.943C28.6175 23.5361 29.3699 19.9222 28.1273 16.7365ZM38.4378 21.6403L35.2425 22.3573C34.9441 22.4243 34.7122 22.6592 34.6491 22.9585C34.2624 24.7936 33.546 26.507 32.5199 28.0513C32.353 28.3024 32.3456 28.6271 32.5007 28.8856L34.0103 31.4017L31.558 33.8539L29.0053 32.3223C28.7497 32.1689 28.4288 32.1744 28.1784 32.3366C26.6291 33.3406 24.9344 34.0357 23.1412 34.4026C22.8377 34.4647 22.5996 34.7002 22.5341 35.0029L21.7915 38.4376H18.3646L17.6144 34.973C17.5493 34.6725 17.3142 34.4382 17.0135 34.3742C15.5117 34.0545 14.0877 33.511 12.7679 32.7562L14.4463 31.078C16.1845 31.9578 18.1186 32.4219 20.0782 32.4219C26.9707 32.4219 32.5782 26.8144 32.5782 19.9219C32.5782 13.0295 26.9709 7.42184 20.0783 7.42184C13.1858 7.42184 7.57833 13.0294 7.57833 19.9218C7.57833 21.8802 8.04247 23.8144 8.9224 25.5537L7.24387 27.2323C6.48949 25.9136 5.94613 24.4897 5.6262 22.9865C5.56222 22.6858 5.32784 22.4507 5.02737 22.3857L1.56274 21.6354V18.2085L4.99737 17.4659C5.30019 17.4004 5.53574 17.1622 5.59777 16.8587C5.96394 15.0666 6.65926 13.3719 7.66434 11.8219C7.82669 11.5716 7.83231 11.2505 7.6788 10.9948L6.14668 8.44208L8.5988 5.99003L11.114 7.4995C11.3724 7.65458 11.6971 7.64731 11.9483 7.48043C13.4935 6.45426 15.2073 5.73777 17.0421 5.35113C17.3413 5.288 17.5763 5.05612 17.6432 4.75768L18.3602 1.56243H21.7968L22.5061 4.72784C22.5734 5.02854 22.8112 5.26159 23.1133 5.32269C24.9573 5.6962 26.6912 6.41152 28.267 7.44864C28.5178 7.61372 28.841 7.62044 29.0985 7.46598L31.5583 5.98996L34.0105 8.44208L32.5344 10.9019C32.38 11.1594 32.3867 11.4826 32.5518 11.7333C33.5889 13.3091 34.3042 15.0431 34.6778 16.8871C34.739 17.1892 34.972 17.427 35.2726 17.4943L38.438 18.2037V21.6403H38.4378Z"
              fill="#4E88FA"
            />
          </svg>
        </template>
      </CustomerServiceSelectCard>
    </div>
    <b-modal v-model="getDiagnostics">
      <GetDiagnosticCard
        :cardMessage="'Would you like to get diagnostics for only 99 $ ?'"
        :actionButtonText="'YES'"
        :onButtonClick="onDiagnosticClick"
      >
        <template v-slot:icon>
          <WorkerIcon />
        </template>
      </GetDiagnosticCard>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CustomerServiceSelectCard from "@/components/CustomerServiceSelectCard/CustomerServiceSelectCard.vue";
import Navbar from "@/components/Navbar/Navbar.vue";
import GetDiagnosticCard from "@/components/GetDiagnostic/GetDiagnostic.vue";
import WorkerIcon from "@/components/icons/Worker.vue";

@Component({
  components: {
    CustomerServiceSelectCard,
    Navbar,
    GetDiagnosticCard,
    WorkerIcon
  }
})
export default class ServiceSelect extends Vue {
  private getDiagnostics = false;

  onDiagnosticClick() {
    this.$store.commit("SET_NEED_DIAGNOSTIC", true);
    this.$router.push("/mechanic-call");
  }
  onCommonClick() {
    this.$router.push("/mechanic-call");
  }

  mounted() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }
}
</script>

<style lang="scss" scoped>
.customer-service-select-container {
  text-align: center;
  width: 90%;
  margin: auto;

  .info {
    padding: 3rem 0;

    h1 {
      font-size: 22px;
      font-weight: bold;
      padding: 0.5rem;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      padding: 0.5rem 1.5rem;
    }
  }
}
</style>
