<template>
  <svg
    width="53"
    height="65"
    viewBox="0 0 53 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.5">
      <path
        d="M50.6838 47.6003C49.2632 45.4016 47.3112 43.6545 45.0245 42.5262C44.8317 42.3471 44.5837 42.2271 44.308 42.1965C42.654 41.4943 40.9106 41.1381 39.119 41.1381H35.3333V37.8088C37.5241 35.9291 39.0991 33.4393 39.8628 30.6643H40.381C43.1642 30.6643 45.4286 28.3999 45.4286 25.6167C45.4286 24.2977 44.9195 23.0959 44.0882 22.1956C44.1676 22.1283 44.245 22.0581 44.3195 21.9838C45.0347 21.2685 45.4286 20.3179 45.4286 19.3071C45.4286 17.6461 44.3527 16.2324 42.8615 15.7238C42.4157 9.92109 38.3431 4.96231 32.7358 3.40815C32.4036 1.67278 30.9714 0 29.0238 0H23.9762C22.0286 0 20.5964 1.67278 20.2642 3.40815C14.6574 4.96219 10.5852 9.92009 10.1386 15.7221C9.59578 15.9062 9.09796 16.2132 8.68052 16.6305C7.96527 17.3458 7.57143 18.2964 7.57143 19.3071C7.57143 20.4634 8.0931 21.4997 8.91283 22.1946C8.08099 23.0949 7.57143 24.2972 7.57143 25.6167C7.57143 28.3999 9.83579 30.6643 12.619 30.6643H13.1337C13.7712 32.9808 14.9799 35.1075 16.6662 36.8642C16.9831 37.1945 17.319 37.5092 17.6667 37.8078V41.1381H13.881C12.0893 41.1381 10.3459 41.4943 8.692 42.1963C8.4164 42.2271 8.16831 42.347 7.97562 42.5261C5.68867 43.6545 3.73675 45.4016 2.31623 47.6002C0.800931 49.9457 0 52.642 0 55.3976V63.3476C0 64.0444 0.564955 64.6095 1.2619 64.6095H51.7381C52.435 64.6095 53 64.0444 53 63.3476V55.3976C53 52.642 52.1991 49.9457 50.6838 47.6003ZM7.57143 62.0857H2.52381V55.3976C2.52381 51.5593 4.49011 47.8803 7.57143 45.6964V62.0857ZM40.381 28.1405H40.3234C40.361 27.7206 40.381 27.2993 40.381 26.8786V23.0929C41.7726 23.0929 42.9048 24.225 42.9048 25.6167C42.9048 27.0083 41.7726 28.1405 40.381 28.1405ZM20.1905 6.07468V11.7357C20.1905 12.4327 20.7554 12.9976 21.4524 12.9976C22.1493 12.9976 22.7143 12.4327 22.7143 11.7357V4.42462C22.7143 4.42134 22.7143 4.41806 22.7143 4.41477V4.16429C22.7143 3.38241 23.3748 2.52381 23.9762 2.52381H29.0238C29.6252 2.52381 30.2857 3.38241 30.2857 4.16429V4.41477C30.2857 4.41806 30.2857 4.42134 30.2857 4.42462V11.7357C30.2857 12.4327 30.8507 12.9976 31.5476 12.9976C32.2446 12.9976 32.8095 12.4327 32.8095 11.7357V6.07468C36.8842 7.51666 39.8257 11.2039 40.3104 15.5214H12.6896C13.1743 11.2039 16.1158 7.51666 20.1905 6.07468ZM12.619 28.1405C11.2274 28.1405 10.0952 27.0083 10.0952 25.6167C10.0952 24.225 11.2274 23.0929 12.619 23.0929V26.8786C12.619 27.2993 12.639 27.7208 12.6766 28.1405H12.619ZM12.619 20.569H11.3571C10.6613 20.569 10.0952 20.003 10.0952 19.3071C10.0952 18.9705 10.2266 18.6536 10.4651 18.4152C10.7037 18.1766 11.0205 18.0452 11.3571 18.0452H41.6429C42.3387 18.0452 42.9048 18.6113 42.9048 19.3071C42.9048 19.6438 42.7734 19.9607 42.5349 20.1991C42.2964 20.4377 41.9795 20.569 41.6429 20.569H40.381H39.119H13.881H12.619ZM15.3721 29.1731C15.3696 29.1593 15.3672 29.1457 15.3642 29.1322C15.2177 28.3916 15.1429 27.6336 15.1429 26.8786V23.0929H37.8571V26.8786C37.8571 27.6329 37.7823 28.3905 37.6358 29.1317C37.6328 29.1453 37.6304 29.1591 37.6279 29.1728C37.0639 31.9878 35.5032 34.5075 33.2305 36.2699C31.2561 37.8036 28.9288 38.6143 26.5 38.6143C24.0712 38.6143 21.7439 37.8036 19.7676 36.2685C19.3152 35.9185 18.8847 35.5312 18.4874 35.1169C16.8955 33.4585 15.8189 31.404 15.3721 29.1731ZM25.2381 62.0857H15.1429V59.1833C15.1429 58.4864 14.5779 57.9214 13.881 57.9214C13.184 57.9214 12.619 58.4864 12.619 59.1833V62.0857H10.0952V44.3527C10.9142 44.0439 11.7579 43.8381 12.619 43.7366V51.6119C12.619 52.3089 13.184 52.8738 13.881 52.8738C14.5779 52.8738 15.1429 52.3089 15.1429 51.6119V43.6619H18.3878L25.2381 50.8548V62.0857ZM20.1905 41.8952V39.5448C22.1377 40.5916 24.2825 41.1381 26.5 41.1381C28.7177 41.1381 30.8625 40.5914 32.8095 39.5449V41.8952L26.5 48.5202L20.1905 41.8952ZM42.9048 62.0857H40.381V59.1833C40.381 58.4864 39.816 57.9214 39.119 57.9214C38.4221 57.9214 37.8571 58.4864 37.8571 59.1833V62.0857H27.7619V50.8548L34.6122 43.6619H37.8571V51.6119C37.8571 52.3089 38.4221 52.8738 39.119 52.8738C39.816 52.8738 40.381 52.3089 40.381 51.6119V43.7366C41.2421 43.8381 42.0857 44.044 42.9048 44.3528V62.0857ZM50.4762 62.0857H45.4286V45.6962C48.5099 47.8802 50.4762 51.5592 50.4762 55.3976V62.0857Z"
        fill="#4E88FA"
      />
    </g>
  </svg>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class WorkerIcon extends Vue {}
</script>
